section.third__block
    .container
        h2.section__title Our directions and advantages
        p.description Integrate once and never worry about scaling again. We ensure composability between ecosystem projects by maintaining a single global state as the network scales.
        .content 
            .content__block
                +imgPicture("./img/card-1.png", "Кошелёк с биткоинами", "block__img")
                p.block__title Powerful for developers
                p.block__description Cucoin is a decentralized blockchain built to enable scalable, user-friendly apps for the world.
                a.more(href="#")
                    span Learn more
                    +icon-mono('icon-arrow', 'Стрелка вправо')
            .content__block
                +imgPicture("./img/card-2.png", "Куча биткоинов", "block__img")
                p.block__title Low cost, forever
                p.block__description Our scalability ensures transactions remain less than $0.01 for both developers and users.

                a.more(href="#")
                    span Learn more 
                    +icon-mono('icon-arrow', 'Стрелка вправо')
            .content__block
                +imgPicture("./img/card-3.png", "Сейф с биткоинами", "block__img")
                p.block__title Decentralized
                p.block__description The network is spread over thousands of independent nodes,so  your transactions are always safe.
                a.more(href="#")
                    span Learn more 
                    +icon-mono('icon-arrow', 'Стрелка вправо') 