//Slider 100vh height and with text and rigt dots
section.slider__first
    .slide
        img.slide__img(src="img/sliders/first/first-slide.jpg", alt="Слайд")
        .left__text
            h2.slide__text example text
            p.slide__adress.block_description example text
        .right__text 
            .text__block 
                p example text
    .slide
        img.slide__img(src="img/sliders/first/second-slide.jpg", alt="Слайд")
        .left__text
            h2.slide__text example text
            p.slide__adress.block_description example text
        .right__text 
            .text__block 
                p example text
    .slide
        img.slide__img(src="img/sliders/first/third-slide.jpg", alt="Слайд")
        .left__text
            h2.slide__text example text
            p.slide__adress.block_description example text
        .right__text 
            p example text

//Slider with bottom dots and small width
section.slider__third 
    .slide
        img.slide__img(src="img/sliders/third/first-slide.jpg", alt="Слайд")
    .slide
        img.slide__img(src="img/sliders/third/first-slide.jpg", alt="Слайд")
    .slide
        img.slide__img(src="img/sliders/third/first-slide.jpg", alt="Слайд")
    .slide
        img.slide__img(src="img/sliders/third/first-slide.jpg", alt="Слайд")
    