section.fourth__block#join
    .container
        .block__content
            .contacts 
                .contacts__social 
                    a(href="#") 
                        +icon-mono('instagram', 'Инстаграм')
                    a(href="#") 
                        +icon-mono('twitter', 'Твиттер')
                    a(href="#")  
                        +icon-mono('telegram', 'Телеграм')
                    a(href="#") 
                        +icon-mono('facebook', 'Фейсбук')
                p.contacts__slogan “The one who owns the information — owns the world!”
                .contacts__links 
                    p.links__point Los Angeles, Lamen St. 45, 23-000
                    a.links__tel(href="tel:+8-567-283-9983") +8-567-283-9983
                    a.links__email(href="mailto:cucoin@gmail.com") cucoin@gmail.com 
            .join__form     
                h2.section__title Join our community
                form
                    input(type="text" placeholder="Name")
                    input(type="text" placeholder="Surname")
                    input(type="email", name="email" placeholder="Email")
                    button(type="submit") Sign up
