section.first__block 
    .container.small_container
        h1.title The World’s Fastest Growing Crypto Community
        p.description.first__descr A highly-curated platform for creating, collecting and trading unique NFTs. Trade with confidence on the world’s fastest and most secure crypto exchange
        form.join-form(action="")
            input(type="email" name="email" placeholder="Your email address") 
            button(type="submit") Join our community