---
title: cucoin
bodyClass: body 
---
extends layouts/_main-layout

block content
  include parts/first-block/_first-block
  include parts/second-block/_second-block
  include parts/third-block/_third-block
  include parts/fourth-block/_fourth-block

//- block others
  //- Micromodal show button example
  button(data-micromodal-trigger="modal-1") Show modal
  //- Micromodal body example
  include parts/_micromodal-example
