section.second__block#about
    .container
        h2.section__title Our goal and mission
        p.description Whether you’re an experienced trader or just getting started, Cucoin has all the tools you need. Execute your trading strategies with the professional level crypto trading platform.
        .content 
            +imgPicture("./img/scales.png", "Весы", "block__img scales")
            .content__text_join
                p An accessible way to buy, sell, and store non-fungible tokens (NFTs) – digital art on the blockchain. You can expect the same industry-leading security technology.
                p The project aims to build increasing connectivity to Ethereum and the wider blockchain ecosystem. AVAX, Avalanche’s native token, is the network’s unit of your persocnal account.
                p.lighten High performance tools for active traders and industry-leading security from day one.
                a.join__link(href="#join") Join our community