// Use mixin for nav menu
- let logo={src:'img/Dollar.png', text: 'cucoin'};
- let logoType='combo';
- let navItems=[{text:'Licence', url: '#'},{text:'About us', url:'#'},{text:'How to start', url:'#'},{text:'Join us', url:'#'}];
+navTop(logo, logoType, navItems)
