// Use mixin for nav menu
- let logo={src:'img/Dollar.png', text: 'cucoin'};
- let logoType='combo';
- let navItems=[{text:'Licence', url: '#'},{text:'About us', url:'#about'},{text:'How to start', url:'#start'},{text:'Join us', url:'#join'}];
+navTop(logo, logoType, navItems)
