// Footer styles bgn
.page-footer {
  margin: 0 auto;

  p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 110px 0;
  }
}

// Footer styles end
