.icon-mono {
  display: inline-block;
  height: 1em;
  fill: currentColor;
}

.facebook {
  font-size:(28/10)*1rem;
  width:(28/28)*1em;
}
.icon-arrow {
  font-size:(10/10)*1rem;
  width:(11/10)*1em;
}
.icon-facebook {
  font-size:(19/10)*1rem;
  width:(10/19)*1em;
}
.icon-telegram {
  font-size:(189.47/10)*1rem;
  width:(189.47/189.47)*1em;
}
.instagram {
  font-size:(28/10)*1rem;
  width:(28/28)*1em;
}
.mail {
  font-size:(16/10)*1rem;
  width:(20/16)*1em;
}
.phone {
  font-size:(18/10)*1rem;
  width:(18/18)*1em;
}
.point {
  font-size:(20/10)*1rem;
  width:(16/20)*1em;
}
.telegram {
  font-size:(28/10)*1rem;
  width:(28/28)*1em;
}
.twitter {
  font-size:(23/10)*1rem;
  width:(28/23)*1em;
}
